# dependencies
node_modules/

# env files
.env
.env.local
.env.*.local

# Vite
apps/web/dist/
apps/web/.vite/

# API build/output
apps/api/dist/

# Prisma generated client
apps/api/src/generated/prisma/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/

local/
docker-compose*
!docker-compose.example.yml